body {
    font-family: 'Josefin Sans', sans-serif;
}

.container {
    padding-left: 10%;
}

section {
    display: flex;
}

.img img {
    height: 5rem;
    width: 10rem;
    padding-left: 5rem;
    margin-top: 10px;
}

.download-btn {
    width: 75%;
    margin-top: 20px;
}

.mern-tagline span {
    color: orangered;
}

.mern-tagline span:hover {
    color: rgb(68, 143, 10);
}

.mern-tagline h1 {
    text-align: center;
}

.download-btn {
    text-align: right;
    padding-right: 30px;
}

.download-btn button {
    height: 50px;
    width: 150px;
    background: linear-gradient(to top left, #33ccff 0%, #ff33cc 100%);
    color: rgb(28, 9, 237);
    border: none;
    border-radius: 10px;
    font-family: 'Josefin Sans', sans-serif;
    text-justify: center;
    font-size: 18px;
}

.download-btn button:hover {
    height: 50px;
    width: 150px;
    background: linear-gradient(to top left, #ff33e7 0%, #07ff6e 100%);
    color: red;
    border: none;
    border-radius: 10px;
}

.image-and-text-for-body {
    width: 70%;
}

.image-and-text-for-bodyq img {
    height: 300px;
    width: auto;
}

.image-and-text-for-body-flex {
    display: flex;
}

.image-and-text-for-body p {
    font-size: 22px;
    text-align: justify;
}

.image-and-text-for-body button {
    height: 50px;
    width: 150px;
    background: linear-gradient(to top left, #33ccff 0%, #ff33cc 100%);
    color: aquamarine;
    border: none;
    border-radius: 10px;
    font-family: 'Josefin Sans', sans-serif;
    text-justify: center;
    font-size: 18px;
}

.image-and-text-for-body button:hover {
    height: 50px;
    width: 150px;
    background: linear-gradient(to top left, #ff33e7 0%, #07ff6e 100%);
    color: red;
    border: none;
    border-radius: 10px;
}


.education h1 {
    color: red;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}

.card-category-1 {
    font-family: sans-serif;
    margin-bottom: 45px;
    text-align: center;
}

.card-category-1 div {
    display: inline-block;
}

.card-category-1>div>div:not(:last-child) {
    margin: 10px 5px;
    text-align: left;
}

.basic-card {
    width: 400px;
    position: relative;

    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
}

.basic-card .card-content {
    padding: 20px;
}

.basic-card .card-title {
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
}

.basic-card .card-text {
    line-height: 1.6;
}

.basic-card .card-link {
    padding: 25px;
    width: -webkit-fill-available;
}

.basic-card .card-link a {
    text-decoration: none;
    position: relative;
    padding: 10px 0px;
}

.basic-card .card-link a:after {
    top: 30px;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    width: 0;

    -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
    -moz-transition: width 0.3s ease 0s, left 0.3s ease 0s;
    -o-transition: width 0.3s ease 0s, left 0.3s ease 0s;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.basic-card .card-link a:hover:after {
    width: 100%;
    left: 0;
}


.basic-card-aqua {
    background-image: linear-gradient(to bottom right, #00bfad, #99a3d4);
    border-radius: 15px;
}

.basic-card-aqua:hover {
    background-image: linear-gradient(to bottom right, #006fbf, #6e7fd3);
}

.basic-card-aqua .card-content,
.basic-card .card-link a {
    color: #fff;
}

.basic-card-aqua .card-link {
    border-top: 1px solid #82c1bb;
}

.basic-card-aqua .card-link a:after {
    background: #fff;
}

.basic-card-lips {
    background-image: linear-gradient(to bottom right, #ec407b, #ff7d94);
    border-radius: 15px;
}

.basic-card-lips:hover {
    background-image: linear-gradient(to bottom right, #700b70, #ff7d94);
}

.basic-card-lips .card-content {
    color: #fff;
}

.basic-card-lips .card-link {
    border-top: 1px solid #ff97ba;
}

.basic-card-lips .card-link a:after {
    background: #fff;
}

.basic-card-light {
    border: 1px solid #eee;
    border-radius: 15px;
}

.basic-card-light:hover {
    background: rgba(158, 181, 169, 0.645);
}

.basic-card-light .card-title,
.basic-card-light .card-link a {
    color: #636363;
}

.basic-card-light .card-text {
    color: #7b7b7b;
}

.basic-card-light .card-link {
    border-top: 1px solid #eee;
}

.basic-card-light .card-link a:after {
    background: #636363;
}

.card-content .card-image {
    height: 150px;
    margin-left: 20%;
}

footer p {
    text-align: center;
    color: rgb(125, 130, 134);
}